# Adresse IP du serveur VLM (plateforme PIA)
PIA_IP=

# Port du serveur VLM
PIA_PORT=

# Clé d'API du serveur VLM
PIA_API_KEY=

# Nom du modèle VLM (par défaut : Qwen3-VL-32B-Instruct-FP8)
PIA_MODEL=Qwen3-VL-32B-Instruct-FP8
